.star-rating {
  display: flex;
  .star {
    .svg-inline--fa {
      color: #E3E3E3;
      font-size: 24px;
      margin-right: 13px;
    }
    &.star__filled .svg-inline--fa {
      color: #FF6060;
      ;
    }
  }
}

@media (max-width: 540px) {
  .star-rating {
    .star {
      .svg-inline--fa {
        font-size: 13px;
        margin-right: 5px;
      }
    }
  }
  }