$main-color: #FF6060;


html {
   overflow-y: scroll;
}

body {
   height: 100%;
   margin: 0;
   font-family: Montserrat, sans serrif;
 }

 main {
   max-width: 1240px;
   margin: auto;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   padding: 0 20px 0 20px;
 }

a {
   text-decoration: none;
   color: black;
}

:focus-visible {
   outline: #0099cc solid 4px;
 }

@media (max-width: 540px) {
}