html {
   overflow-y: scroll;
}

body {
   max-width: 1240px;
   margin: auto;
   font-family: Montserrat, sans serrif;
   padding: 0 20px 0 20px;
 }


a {
   text-decoration: none;
   color: black;
}