nav {
   display: flex;
   justify-content: space-between;
   width: 100%;
   margin-top: 50px;
   .navLinks {
      display: flex;
      justify-content: space-between;
      width: 250px;
      align-items: flex-end;
      margin-bottom: 20px;
       > a {
         font-size: 24px;
         font-weight: 500;
         &.active {
            text-decoration: underline 2px solid;
            text-underline-offset: 5px;
         }
      }
   }
}