.layout-cards {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   margin-top: 40px;
   width: 100%;
   background-color: #F6F6F6;
   border-radius: 25px;
   &__container {
      display: flex;
      flex-wrap: wrap;
      // justify-content: space-between;
      gap: 5%;
      row-gap: 50px;
      // width: 100%;
      padding: 50px;
   }
}

.cards {
   display: flex;
   position: relative;
   overflow: hidden;
   // width: 340px;
   // height: 340px;
   width: 30%;
   height: 340px;
   border-radius: 10px;
   &:hover {
      cursor: pointer;
   }
   &__overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20%;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
      display: flex;
      align-items: center;
      color: white;
      box-sizing: border-box;
   }
   &__image {
      object-fit: cover;
      height: 100%;
      width: 100%;
   }
   &__title {
      z-index: 1;
      position: absolute;
      width: 90%;
      color: white;
      font-size: 18px;
      padding: 0 0 10px 15px;
      margin: 0;
   }

}

@media (max-width: 845px) {
   .cards {
   width: 47%;
   }
}

@media (max-width: 600px) {
   .layout-cards {
      background-color: white;
      &__container {
         justify-content: center;
         row-gap: 20px;
         padding: 0;
      }
   }
   .cards {
      width: 335px;
      height: 255px;
   }
}

