.listContainer {
   display: flex;
   justify-content: center;
   width: 100%;
   & ul {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 83%;
      padding: 0;
      margin: 0;
   }
   &__li {
      width: 100%;
      border-radius: 5px;
      margin-top: 37px;
      list-style-type: none;
   }
   &__header {
      display: flex;
      background-color: #FF6060;
      justify-content: space-between;
      align-items: center;
      height: 54px;
      padding: 0 20px 0 20px;
      border-radius: 5px;
   }
   &__word {
      color: white;
      font-size: 24px;
   }
    .svg-inline--fa {
      cursor: pointer;
      color: white;
      font-size: 32px;
      transition: transform 0.5s;
      &.rotate {
        transform: rotate(-180deg);
      }
   }
   
   // L'animation ne se lance pas en utilisant l'implémentation SASS..? 
   .listContainer__description {
      width: 100%;
      background-color: #FBFBFB;
      // overflow: hidden;
      max-height: 0;
      transition: max-height 2s ease-out;
    }
    
    .listContainer__description.open {
      max-height: 1000px;
    }
    
    .listContainer__descriptionText {
      margin: 0;
      padding: 20px;
      font-weight: 500;
      font-size: 18px;
    }
}

@media (max-width: 540px) {
   .listContainer {
      & ul {
         width: 100%;
      }
      &__li {
         margin-top: 20px;
      }
      &__header {
         height: 30px;
      }
      &__word {
         font-size: 13px;
      }
      .svg-inline--fa {
         font-size: 16px;
      }
      &__descriptionText {
         padding: 15px;
         font-size: 12px!important;
         padding: 15px!important;
      }
   }
}

